html {
  font-family: 'Denk One', sans-serif;

}
.interface {
  background-color: lightblue;
  box-shadow: -7px 0px 58px -10px rgba(0,0,0,0.75);
  padding: .5em;
  display: inline-block;
  height: 400px;
  border: 10px solid black;
}

#board{
  height: 400px;
  width: 400px;
}

#wordCheck {
  width: 200px;
  height: 30px;
  display: block;
  text-align: center;
  margin: auto;
  font-family: 'Denk One', sans-serif;

  font-size: 25px;
}

 #panel {
  position: absolute;
  left: 450px;
  width: 300px;
  margin-left: 50px;

}
#reset-button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 10px;
  font-size: 30px;
  height: 50px;
  /*width: 80px;*/

  background-color: aqua;
  border-radius: 10px;
  border: 5px solid gray;
  text-align: center;
}
.cube {
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 65%,rgba(0,0,0,.8) 100%);

}
.letter {
  font-size: 4em;
  margin-top: 10px;
  color: lightseagreen;
}

.highlightCube {
  background-color: indianred;
    
}
